/* Add DM-Sans Font */
@font-face {
    font-family: DM-Sans;
    src: url(./Fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
  }

h1 {
    font-family: DM-Sans;
    font-size: 96px;
    font-style: normal;
    font-weight: 300;
    line-height: 112px; /* 116.667% */
    letter-spacing: -1.5px;
    color: #f9f9f9;
}

h2 {
    font-family: DM-Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: 72px; /* 120% */
    letter-spacing: -0.5px;
    color: #f9f9f9;
}

h3 {
    font-family: DM-Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px; /* 116.667% */
    color: #f9f9f9;
}

h4 {
    font-family: DM-Sans;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 105.882% */
    color: #f9f9f9;
}

h5 {
    font-family: DM-Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 100% */
    letter-spacing: 0.18px;
    color: #f9f9f9;
}

h6 {
    font-family: DM-Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.15px;
    color: #f9f9f9;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.5px;
    color: #f9f9f9;
}