/* Adding DM Sans Font */
@font-face {
    font-family: DM-Sans;
    src: url(./DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
  }

body {
    background-color: #222222;
    color: 	#f9f9f9;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1, h2, h3 {
    text-transform: capitalize;
    font-family: DM-Sans;
}

/* Any th tags are uppercase */
th {
    text-transform: uppercase;
}

/* Any anchor tag has color greenyellow */
a {
    color: greenyellow
}

/* Any em tag has background color as blue */
em {
    background-color:blue;
}

footer {
    border-top: 1px solid #f9f9f9;
    padding-top: 10px;
}

/* Remove Underline for other links (CSS 2 Exercise 3) */
nav ol li a{
    text-decoration: none;
}

/* Add Underline for first link in NAV (CSS 2 Exercise 3) */
nav ol li:first-child a{
    text-decoration: underline;
}


.pgs ol {
    list-style-type: none;
    padding-left: 0;
}

.pg{
    display: inline-block;
}

.pg a::after {
    display: inline-block;
    color: #f9f9f9;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

/* Tag with top class has background color as rose gold */
.top {
    background-color: #b76e79;
}

/* Tag with the_most_important id has background color as gold */
#the_most_important {
    text-transform:uppercase;
    background-color:#FFD700;
}
/* Every h2 is sans-serif */
h2 {
    font-family: sans-serif;
}


/* First letter in every paragraph after h2 is x-large */
h2+p::first-letter{
    font-size: x-large;
}

/* Hovering over tr change background color to cyan */
tbody tr:hover, tbody tr:hover td{
    background-color:#41f0f9;
}

/* Input tag size 20px */
input {
    height: 20px;
}

/* Input tag of text type have lightgray color */
input[type="text"]{
    border-color: lightgray;
}

/* Input of message name have 50px height */
input[name="message"]{
    height: 50px;
}

/* Every odd row has its background color as gray */
tbody tr:nth-child(odd){
    background-color: gray;
}

/* Any anchor not NAV have pointer(Default) and NAV is default pointer */
NAV a{
    cursor: default;
}

/* Selection highlight is purple color */
::selection{
    background-color: purple;
}