
body {
    background-color: #292929;
    color: #f9f9f9;
    display: fixed;
    flex-direction: column;
    min-height: 150vh;
}
footer {
    margin-top: auto;
    text-align: center;
    justify-content: center;
    background-color: #333;
}

#img {
    background-image: url(../imgs/Dead_Astronomer.jpeg);
    width: 172px;
    height: 97px;
    justify-content: center;
    background-repeat: 0;
}

#img > p {
    opacity: 0.5;
}

#EX1 {
    display: flex;
    justify-content: end;
}


